
#word{
    width: 250px;
    height: 180px;
    border-radius: 5px;
    border: solid 1px white;
    background-color: black;
    color: white;
    transform: rotateY(22deg)  rotateX(30deg) rotate(-12.8deg);
    position: relative;
    top:-1640.5px;
    left:32%;
    z-index: 2;
}

#typing{
    position: inherit;
    top:5px;
    left:5px;
    }